* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: 'Nunito', sans-serif;
}
/* colors
#023047 (dark blue)
#ced4da (grey) */
body {
    background-color: #023047;
}
header {
    color: white;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: #ced4da ;
    height: 80px;
    padding: 40px;
}

nav {
    position:absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px 60px 0 60px;
  
}
nav li {
    list-style: none;
    display:inline-block;
    padding-right: 10px;
    padding-left: 10px;
}

nav li span {
    padding-left: 5px;
}

li a {

    padding: 5px;
    background-color: #fff;
    text-decoration: none;;
}
.cart a {
    background-color:royalblue ;
    color:white;
    cursor: pointer;
    text-decoration: none;
}

.bucksgear{
    color:#ced4da;
    font-size: 40px;

}

.milly {
    height: 300px;
    padding: 50px;
    margin: 20px;
    justify-content: center;
    margin-left: 500px;
}

h2 {
    color:whitesmoke;
    font-size: 30px;
    display: flex;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
}

button {
    display: flex;
    justify-content: flex-end;
}

.promo {
    color: whitesmoke;
    background-image: url(https://i.pinimg.com/originals/ed/a7/ee/eda7ee2347f065d82c9d1d89ae6328e4.jpg);
    background-repeat: no-repeat;
    height: 150px;
    font-size: 50px;
    position: relative;
    margin: 100px;
}

.promoOne:hover {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    color: #fca311;
    text-decoration: underline;
}

#shopByPlayer {
    display:flex ;
    justify-content: center;
    padding: 40px;
}

#donBtn {
    transition: 12s;
}

#shopByPlayer {
    font-family: 'Nunito', sans-serif;
    text-decoration: underline;

}

.shopNowCard {
    height: 10px;
    display: inline-block;
    flex-wrap: wrap;
    margin-right: 10px;
    padding: 5px;
    
}

.playerSection {
    height: 10px
}

.jerseyBy {
    height:400px;
    width:450px;
}

.shirtBy {
    height: 400px;
    width: 350px;
}

.hatBy {
    height: 400px;
    width: 430px;
}

.collectBy {
    height:400px;
    width:360px;
    /* display: block; */
}

.players-gear {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    

}

#donImg {
    height: 350px;
}
#donImg:hover {
    height: 650px;
}


#bronImg {
    height: 350px;
    width: 450px;
}
#bronImg:hover {
    height: 650px;
    width: 750px;
}

#stephImg {
    height: 250px;
}

#kdImg {
    height: 250px;
}
#giannisImg {
    height: 250px;
}
#shaqImg {
    height: 250px;
}



.container, .products-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    flex-wrap: nowrap;
}

.image {
    /* margin-right: 20px;
    margin-left: 20px; */
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    overflow: hidden;

}
.add-cart {
    position:absolute;
    width: 100%;
    background-color: #ffb703;
    transition: all 0.6s ease-in-out;
    opacity: 0;
    cursor: pointer;
    text-align: center;

}

.image:hover .cart1,
.image:hover .cart2,
.image:hover .cart3,
.image:hover .cart4,
.image:hover .cart5 {
    bottom:  20px;
    opacity: 1;
    padding: 10px;
    text-decoration: none;
}


h3 {
    font-size: 20px;
}
/* CART PAGE */

.products-container {
    max-width: 650px; 
    justify-content: space-around;
    margin: 0 auto;
    margin-top:50px;
}


.product-header {
    width:100%; 
    max-width: 650px;
    display: flex;
    justify-content: flex-start;
    border-bottom: 4px solid lightgray;
    margin: 0 auto;
}

.product-title {
    width:45%;
}

.price {
    width: 15%;
    
    display: flex;
    align-items: center;
}

.total {
    width: 10%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;

}

.product {
    width: 45%;
    justify-content: space-around;
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
}

.quantity {
    width:30%;
    border-bottom: 1px solid lightgray;
    display: flex;
    align-items: center;
}
footer {
    background-color: #2A97A8;
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
    font-size:20px;
    margin-top:1450px;
    margin-bottom:100px;
  }